<div class="back">
  <div class="profile-btn">
    <label for="my_modal1" class="neon" profile-text="profile">profile</label><!-- チェックボックスラベル -->
    <input type="checkbox" id="my_modal1"><!-- 非表示チェックボックス -->
    <label class="my_modal_overlay" for="my_modal1"></label><!-- オーバーレイ -->
    <div class="my_modal_body1">
      <div class="my_modal_header">
          profile
      </div>
      <div class="my_modal_content">
        <!-- モーダル内コンテンツ -->
          <ul>
              <li>初めまして牧野と申します。</li>
              <li></li>
              <li>＜経歴＞</li>
              <li>私は高校を卒業後、バレエダンサーとして活動してきました。</li>
              <li>バレエ団というプロの団体に所属し、2年間の見習いを経て20歳の時、正団員。プロのバレエダンサーになることができました。</li>
              <li>ダンサーになってからは、毎日が目まぐるしく過ぎて行き、気がつくとバレエ団に入って8年が立っていました。</li>
              <li>そんな時、久しぶりに地元の友人に会う機会がありました。成人式以来に会う友人たちは大学を卒業し会社に勤めていました。そんな友人たちが逞しく大人びて見え、バレエで限界を感じていた中、バレエ界以外の世界を経験したいという思いが出てきました。</li>
              <li></li>
              <li>＜プログラミング＞</li>
              <li>バレエを辞めることを決意し、学歴のない私ができる仕事を探しているとプログラマー、エンジニアの求人を多く見つけました。「ITって、聞いた事あるけど具体的になんなんだ？」と思い調べてみると「え？、Googleもソフトバンクも任天堂もIT企業なの！？」、ITと認識していなかった有名企業が多く、その多様性に驚き魅了されました。</li>
              <li>完全未経験でも歓迎するという求人でしたが、やるなら少しは学んでからにしようとテックキャンプに入学しました。</li>
              <li>私は座って作業することに慣れることから始まったので、正直大変でした。でも少しずつプログラミングを楽しむことができるようになってきました。初めて扱う技術がうまくいったり、エラー解決ができた時は、今までに無い快感を感じるようになりました。</li>
              <li>まだまだ、使用できる言語は少ないですが、これからどんどん学んでいきます。</li>
         </ul>
      </div>
    </div>
  </div>
  
  <div class="portfolio-btn">
    <label for="my_modal2" class="neon2" portfolio-text="portfolio">portfolio</label><!-- チェックボックスラベル -->
    <input type="checkbox" id="my_modal2"><!-- 非表示チェックボックス -->
    <label class="my_modal_overlay" for="my_modal2"></label><!-- オーバーレイ -->
    <div class="my_modal_body2">
      <div class="my_modal_header">
          portfolio
      </div>
      <div class="my_modal_content">
        <!-- モーダル内コンテンツ -->
          <ul>
              <li>BooksPassageというオリジナルアプリです。</li>
              <li>制作期間は9日程度(一日平均作業時間は約10時間)</li>
              <%= link_to 'http://books-passage.herokuapp.com/', target: :_blank, rel: "noopener noreferrer" do %>
                <%= image_tag 'bsss.jpeg', size: '288x158', class: "ss"  %>
                <li>http://books-passage.herokuapp.com/</li>
              <% end %>
              <li>認証コード</li>
              <li>ID：ichiro</li>
              <li>PASS：5151</li>
              <li>README：<%= link_to  "https://github.com/maki0sato/books-passage", "https://github.com/maki0sato/books-passage", target: :_blank, rel: "noopener noreferrer" %></li>
              <li>[開発環境]Ruby/Ruby on Rails/MySQL/Github/AWS/Visual Studio Code</li>
              <li>[デプロイ]Heroku</li>
         </ul>
      </div>
    </div>
  </div>

  <div class="skill-btn">
    <label for="my_modal3" class="neon3" skill-text="skill">skill</label><!-- チェックボックスラベル -->
    <input type="checkbox" id="my_modal3"><!-- 非表示チェックボックス -->
    <label class="my_modal_overlay" for="my_modal3"></label><!-- オーバーレイ -->
    <div class="my_modal_body3">
      <div class="my_modal_header">
          skill
      </div>
      <div class="my_modal_content">
        <!-- モーダル内コンテンツ -->
          <ul>
              <li>HTML/CSS</li>
              <li>Ruby</li>
              <li>Ruby on Rails</li>
              <li>JavaScript</li>
              <li>MySQL</li>
              <li>AWS</li>
         </ul>
      </div>
    </div>
  </div>

  <div class="Final-task-btn">
    <label for="my_modal4" class="neon4" Final-task-text="final_task">final_task</label><!-- チェックボックスラベル -->
    <input type="checkbox" id="my_modal4"><!-- 非表示チェックボックス -->
    <label class="my_modal_overlay" for="my_modal4"></label><!-- オーバーレイ -->
    <div class="my_modal_body4">
      <div class="my_modal_header">
          最終課題
      </div>
      <div class="my_modal_content">
        <!-- モーダル内コンテンツ -->
          <ul>
              <li>テックキャンプの最終課題で作成したフリーマーケットのアプリケーションです。</li>
              <li></li>
              <li>搭載されている機能は</li>
              <li>・ユーザー管理機能・商品出品機能・商品一覧表示機能・商品詳細表示機能</li>
              <li>・商品情報編集機能・商品削除機能・商品購入機能・Basic認証</li>
              <li>などがあります。また、S3の導入もしています。</li>
              <li></li>
              <%= link_to 'https://furima-36733.herokuapp.com/', target: :_blank, rel: "noopener noreferrer" do %>
                <%= image_tag 'frmss.jpeg', size: '288x158', class: "ss"  %>
              <li>https://furima-36733.herokuapp.com/</li>
              <% end %>
              <li>認証コード</li>
              <li>ID：admin</li>
              <li>PASS：2222</li>
              <li >GitHub：<%= link_to  "https://github.com/maki0sato/furima-36733", "https://github.com/maki0sato/furima-36733", target: :_blank, rel: "noopener noreferrer" %></li>
              <li>[開発環境]Ruby/Ruby on Rails/MySQL/Github/AWS/Visual Studio Code</li>
              <li>[デプロイ]Heroku</li>
         </ul>
      </div>
    </div>
  </div>

  <div class="p-page-btn">
    <label for="my_modal7" class="neon7" p-page-text="p-page">p-page</label><!-- チェックボックスラベル -->
    <input type="checkbox" id="my_modal7"><!-- 非表示チェックボックス -->
    <label class="my_modal_overlay" for="my_modal7"></label><!-- オーバーレイ -->
    <div class="my_modal_body7">
      <div class="my_modal_header">
          p-page
      </div>
      <div class="my_modal_content">
        <!-- モーダル内コンテンツ -->
          <ul>
              <li>このプロフィールページの紹介です。</li>
              <li></li>
              <li>夜のネオン街をイメージして作りました。</li>
              <li>昭和風のネオン街をイメージして制作を始めたのですが、作っていくうちに少しサイバーパンクっぽくなりました。気に入っています。</li>
              <li>モーダルウィンドウや、CSSのanimation、AWSでのデプロイなど初めて使用しました。</li>
              <li>楽しみながら作ることができました。</li>
              <li></li>
              <li>制作期間は3日程度(一日平均作業時間は約8時間)</li>
              <li></li>
              <%= link_to 'http://18.181.136.74:', target: :_blank, rel: "noopener noreferrer" do %>
                <%= image_tag 'top-ss.png', size: '288x158', class: "ss"  %>
              <li>http://18.181.136.74:</li>
              <% end %>
              <%= link_to 'http://18.181.136.74/profile/index2', target: :_blank, rel: "noopener noreferrer" do %>
                <%= image_tag 'ppagess.jpeg', size: '288x158', class: "ss"  %>
              <li>http://18.181.136.74/profile/index2</li>
              <% end %>
              <li></li>
              <li>GitHubUrl :https://github.com/maki0sato/p-page</li>
              <li>[開発環境]Ruby/Ruby on Rails/MySQL/Github/AWS/Visual Studio Code</li>
              <li>[デプロイ]AWS</li>
         </ul>
      </div>
    </div>
  </div>

  <p class="neon5" hello-text="Hello">Hello</p>
  
  <p class="neon6" open-text="OPEN">OPEN</p>
   

  
  <div class="container1">
    <div class= "light"></div>
  </div>

  <div class="container2">
    <div class= "light"></div>
  </div>

  <div class="container3">
    <div class= "light"></div>
  </div>

  <div class="container4">
    <div class= "light"></div>
  </div>
  
  <div class="container5">
    <div class= "light"></div>
  </div>

  <div class="container6">
    <div class= "light"></div>
  </div>

  <div class="container7">
    <div class= "light"></div>
  </div>

  <div class="container8">
    <div class= "light"></div>
  </div>

  <div class="container9">
    <div class= "light"></div>
  </div>

  <div class="container10">
    <div class= "light"></div>
  </div>

  <div class="container11">
    <div class= "light"></div>
  </div>

  <div class="container12">
    <div class= "light"></div>
  </div>

  <div class="container13">
    <div class= "light"></div>
  </div>

  <div class="container14">
    <div class= "light"></div>
  </div>

  <div class="container15">
    <div class= "light"></div>
  </div>

  <div class="container16">
    <div class= "light"></div>
  </div>

  <div class="container17">
    <div class= "light"></div>
  </div>

  <div class="container18">
    <div class= "light"></div>
  </div>

  <div class="container19">
    <div class= "light"></div>
  </div>

  <div class="container20">
    <div class= "light"></div>
  </div>

  <div class="container21">
    <div class= "light"></div>
  </div>

  <div class="container22">
    <div class= "light"></div>
  </div>

  <div class="container23">
    <div class= "light"></div>
  </div>

  <div class="container24">
    <div class= "light"></div>
  </div>

  <div class="container25">
    <div class= "light"></div>
  </div>

  <div class="container26">
    <div class= "light"></div>
  </div>

  <div class="container27">
    <div class= "light"></div>
  </div>

  <div class="container28">
    <div class= "light"></div>
  </div>

  <div class="container29">
    <div class= "light"></div>
  </div>

  <div class="container30">
    <div class= "light"></div>
  </div>

  <div class="container31">
    <div class= "light"></div>
  </div>

  <div class="container32">
    <div class= "light"></div>
  </div>

  <div class="container33">
    <div class= "light"></div>
  </div>
</div>